<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
  </configSections>
  
  <appSettings>
    <add key="ServiceControl/Queue" value="particular.servicecontrol"/>
  </appSettings>
  
  <system.transactions>
    <defaultSettings timeout="00:05:00"/>
  </system.transactions>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- Product Achievement -->
        <binding name="InventoryMovement_OB_Async_MIBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
          </security>
        </binding>
        <!-- Goods Receipt -->
        <binding name="ZMBGMCR02_EXTND_OB_Async_MIBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
          </security>
        </binding>
        <!-- General Ledger -->
        <binding name="ACC_DOCUMENT03_OB_Async_MIBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
          </security>
        </binding>
        <!-- Purchase Order Create-->
        <binding name="PORDCR103_OB_Async_MIBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
          </security>
        </binding>
        <!-- Purchase Order Change-->
        <binding name="PORDCH03_OB_Async_MIBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
          </security>
        </binding>
        <!-- Production Order Status -->
        <binding name="ZPP_CHNG_OB_Async_MIBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
          </security>
        </binding>
        <!-- Material Master -->
        <binding name="MATMAS05_ZMATMAS5_OB_Async_MIBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
          </security>
        </binding>
        <!-- Test Certificate -->
        <binding name="Certificate_OB_Async_MIBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
          </security>
        </binding>
        <!-- Response On Sap Request -->
        <binding name="SYSTAT01_OB_Async_MIBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Product Achievement -->
      <endpoint address="http://localhost:8730/SapAsWcf/ProductAchievementService" binding="basicHttpBinding" bindingConfiguration="InventoryMovement_OB_Async_MIBinding" contract="InventoryMovement_OB_Async_MI" name="InventoryMovement_OB_Async_MIPort"/>
      <!-- Goods Receipt -->
      <endpoint address="http://localhost:8730/SapAsWcf/GoodsReceiptService" binding="basicHttpBinding" bindingConfiguration="ZMBGMCR02_EXTND_OB_Async_MIBinding" contract="ZMBGMCR02_EXTND_OB_Async_MI" name="ZMBGMCR02_EXTND_OB_Async_MIPort"/>
      <!-- General Ledger -->
      <endpoint address="http://localhost:8730/SapAsWcf/GeneralLedgerService" binding="basicHttpBinding" bindingConfiguration="ACC_DOCUMENT03_OB_Async_MIBinding" contract="ACC_DOCUMENT03_OB_Async_MI" name="ACC_DOCUMENT03_OB_Async_MIPort"/>
      <!-- Purchase Order Create-->
      <endpoint address="http://localhost:8730/SapAsWcf/PurchaseOrderCreateService" binding="basicHttpBinding" bindingConfiguration="PORDCR103_OB_Async_MIBinding" contract="PORDCR103_OB_Async_MI" name="PORDCR103_OB_Async_MIPort"/>
      <!-- Purchase Order Change-->
      <endpoint address="http://localhost:8730/SapAsWcf/PurchaseOrderChangeService" binding="basicHttpBinding" bindingConfiguration="PORDCH03_OB_Async_MIBinding" contract="PORDCH03_OB_Async_MI" name="PORDCH03_OB_Async_MIPort"/>
      <!-- Production Order Status -->
      <endpoint address="http://localhost:8730/SapAsWcf/ProductionOrderStatusService" binding="basicHttpBinding" bindingConfiguration="ZPP_CHNG_OB_Async_MIBinding" contract="ZPP_CHNG_OB_Async_MI" name="ZPP_CHNG_OB_Async_MIPort"/>
      <!-- Material Master -->
      <endpoint address="http://localhost:8730/SapAsWcf/MaterialMasterService" binding="basicHttpBinding" bindingConfiguration="MATMAS05_ZMATMAS5_OB_Async_MIBinding" contract="MATMAS05_ZMATMAS5_OB_Async_MI" name="MATMAS05_ZMATMAS5_OB_Async_MIPort"/>
      <!-- Test Certificate -->
      <endpoint 
        address="http://localhost:8730/SapAsWcf/TestCertificateService" 
        binding="basicHttpBinding" 
        bindingConfiguration="Certificate_OB_Async_MIBinding" 
        contract="Certificate_OB_Async_Enh_MI" 
        name="Certificate_OB_Async_MIPort"/>
      <!-- Response On Sap Request -->
      <endpoint address="http://localhost:8730/SapAsWcf/ResponseToSapRequestService" binding="basicHttpBinding" bindingConfiguration="SYSTAT01_OB_Async_MIBinding" contract="SYSTAT01_OB_Async_MI" name="SYSTAT01_OB_Async_MIPort"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>
