<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core"/>
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
  </configSections>
  
  <system.transactions>
    <defaultSettings timeout="00:05:00"/>
  </system.transactions>
  
  <appSettings>
    <add key="ServiceControl/Queue" value="particular.servicecontrol"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="1572864"/>
  </system.web>
  
  <system.serviceModel>
    <client>
      <!-- OrrSys DataInterface (WCF) -->
      <endpoint 
        name="basicHttpBinding" 
        address="http://localhost/OrrSysDataInterface/DataInterfacingService.svc" 
        binding="basicHttpBinding" 
        bindingConfiguration="basicHttpBinding" 
        contract="IDataInterfacingService" 
        behaviorConfiguration="ServiceBehaviour">
      </endpoint>
      <!-- SSRS ReportExcecution2005 service (.asmx) -->
      <endpoint
         address="http://ossql01:80/ReportServer/ReportExecution2005.asmx"
         binding="basicHttpBinding"
         bindingConfiguration="ReportExecutionServiceSoap"
         contract="ReportExecutionServiceSoap"
         name="ReportExecutionServiceSoap" />
    </client>
    <bindings>
      <basicHttpBinding>
        <!-- OrrSys DataInterface -->
        <binding 
          name="basicHttpBinding" 
          maxBufferSize="2147483647" 
          maxBufferPoolSize="524288" 
          maxReceivedMessageSize="2147483647">
          <readerQuotas 
            maxDepth="128" 
            maxStringContentLength="2147483647" 
            maxArrayLength="2147483646" 
            maxBytesPerRead="4096" 
            maxNameTableCharCount="16384"/>
        </binding>
        <!-- SSRS ReportExcecution2005 service (.asmx) -->
        <binding
            name="ReportExecutionServiceSoap"
            closeTimeout="00:10:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:01:00"
            maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
 
</configuration>
