<?xml version="1.0"?>
<configuration>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error, Critical" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\SpmLog\WCF_Errors.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
  <system.serviceModel>
    <services>
      <!-- Product Achievement Service -->
      <service name="SapAsWcf.ProductAchievement.ProductAchievementService" behaviorConfiguration="TestServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="InventoryMovement_OB_Async_MI" bindingConfiguration="TestHarnessBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/SapAsWcf/ProductAchievementService"/>
          </baseAddresses>
        </host>
      </service>

      <!-- Goods Receipt Service -->
      <service name="SapAsWcf.GoodsReceipt.GoodsReceiptService" behaviorConfiguration="TestServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="ZMBGMCR02_EXTND_OB_Async_MI" bindingConfiguration="TestHarnessBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/SapAsWcf/GoodsReceiptService"/>
          </baseAddresses>
        </host>
      </service>

      <!-- General Ledger Service -->
      <service name="SapAsWcf.GeneralLedger.GeneralLedgerService" behaviorConfiguration="TestServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="ACC_DOCUMENT03_OB_Async_MI" bindingConfiguration="TestHarnessBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/SapAsWcf/GeneralLedgerService"/>
          </baseAddresses>
        </host>
      </service>

      <!-- Material-Master Service -->
      <service name="SapAsWcf.MaterialMaster.MaterialMasterService" behaviorConfiguration="TestServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="MATMAS05_ZMATMAS5_OB_Async_MI" bindingConfiguration="TestHarnessBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/SapAsWcf/MaterialMasterService"/>
          </baseAddresses>
        </host>
      </service>

      <!-- Purchase Order Create Service -->
      <service name="SapAsWcf.PurchaseOrderCreate.PurchaseOrderCreateService" behaviorConfiguration="TestServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="PORDCR103_OB_Async_MI" bindingConfiguration="TestHarnessBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/SapAsWcf/PurchaseOrderCreateService"/>
          </baseAddresses>
        </host>
      </service>

      <!-- Purchase Order Change Service -->
      <service name="SapAsWcf.PurchaseOrderChange.PurchaseOrderChangeService" behaviorConfiguration="TestServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="PORDCH03_OB_Async_MI" bindingConfiguration="TestHarnessBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/SapAsWcf/PurchaseOrderChangeService"/>
          </baseAddresses>
        </host>
      </service>

      <!-- Production Order Status Service -->
      <service name="SapAsWcf.ProductionOrderStatus.ProductionOrderStatusService" behaviorConfiguration="TestServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="ZPP_CHNG_OB_Async_MI" bindingConfiguration="TestHarnessBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/SapAsWcf/ProductionOrderStatusService"/>
          </baseAddresses>
        </host>
      </service>
      
      <!-- Test Certificate Service -->
      <service name="SapAsWcf.TestCertificate.TestCertificateService" behaviorConfiguration="TestServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="TestCert.Certificate_OB_Async_MI" bindingConfiguration="TestHarnessBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/SapAsWcf/TestCertificateService"/>
          </baseAddresses>
        </host>
      </service>

      <!-- Response to SAP request Service -->
      <service name="SapAsWcf.ResponseToSapRequest.ResponseToSapRequestService" behaviorConfiguration="TestServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="SYSTAT01_OB_Async_MI" bindingConfiguration="TestHarnessBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/SapAsWcf/ResponseToSapRequestService"/>
          </baseAddresses>
        </host>
      </service>

    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="TestHarnessBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="10487760" maxStringContentLength="10487760" maxArrayLength="10487760" maxBytesPerRead="10487760" maxNameTableCharCount="10487760"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="TestServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  
</configuration>
